@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<link rel="stylesheet" href="~/css/scrollsheet.css" runat="server" type="text/css" asp-append-version="true" />

<!-- background-image: url('/images/hearthblackandwhite.png'); background-repeat:no-repeat; background-position:50% 50%; background-attachment:fixed; -->

<div id="modal-placeholder"></div>

@if (User.IsInRole("admin"))
{
    <body>
        <div class="mt-5 text-center text-secondary">
            <h1 class="display-4">Evidence pojištění</h1>
            <hr />
            <div class="d-flex justify-content-center mt-3">
                <div class="text-center font-monospace">
                    <b>Registrace</b>
                    <ul class="ul px-3">
                        <li class="list-unstyled"></li>
                        <li class="li"><a asp-area="Identity" asp-page="/Account/Register"><i class="fa fa-heartbeat" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="text-center font-monospace">
                    <b>O aplikaci</b>
                    <ul class="ul px-3">
                        <li class="list-unstyled"></li>
                        <li class="list-unstyled"></li>
                        <li class="li"><a asp-area="Identity" asp-page=""><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="text-center font-monospace">
                    <b>Statistiky</b>
                    <ul class="ul px-3">
                        <li class="list-unstyled"></li>
                        <li class="list-unstyled"></li>
                        <li class="list-unstyled"></li>
                        <li class="li"><a asp-controller="SalesRecord" asp-action="ShowSalesData"><i class="fas fa-chart-line"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </body> 
}
else
{
    <body>
        <div class="mt-5 text-center text-secondary">
            <h1 class="display-4">Evidence pojištění</h1>
            <hr />
            <div class="d-flex justify-content-center mt-3">
                <div class="text-center font-monospace">
                    <b>Přihlásit se</b>
                    <ul class="ul px-3">
                        <li class="li"><a asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                        <li class="list-unstyled"></li>
                    </ul>
                </div>
                <div class="text-center font-monospace">
                    <b>Registrace</b>
                    <ul class="ul px-3">
                        <li class="list-unstyled"></li>
                        <li class="li"><a asp-area="Identity" asp-page="/Account/Register"><i class="fa fa-heartbeat" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="text-center font-monospace">
                    <b>O aplikaci</b>
                    <ul class="ul px-3">
                        <li class="list-unstyled"></li>
                        <li class="list-unstyled"></li>
                        <li class="li"><a asp-area="Identity" asp-page=""><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
}


