@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<link rel="stylesheet" href="~/css/scrollsheet.css" runat="server" type="text/css" asp-append-version="true" />

<div id="modal-placeholder"></div>

<!-- background-image: url('/images/hearthblackandwhite.png'); background-repeat:no-repeat; background-position:50% 50%; background-attachment:fixed; -->

<body>
    <div class="mt-5 text-center">
        <h1 class="display-4">Welcome to InsuApp</h1>
        <hr />
        @if (User.IsInRole("admin"))
        {
            <div class="d-flex justify-content-center mt-5"> 
                <ul class="ul">
                    <li class="list-unstyled"></li>
                    <li class="li"><a asp-area="Identity" asp-page="/Account/Register"><i class="fa fa-heartbeat" aria-hidden="true"></i></a></li>
                </ul>
            </div>

        }
        else
        {
            <div class="d-flex justify-content-center mt-5"> 
                <ul class="ul">
                    <li class="li"><a asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                    <li class="li"><a asp-area="Identity" asp-page="/Account/Register"><i class="fa fa-heartbeat" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        }
    </div>
</body>
 