@{
    ViewData["Title"] = "Welcome Page";
}


<body>
    @if (User.IsInRole("admin"))
    {
            <div class="text-center mt-5">
            <h1 class="display-4">Welcome to InsuApp</h1>
            <p>Your account logged in as an Administrator.</p>
            </div>
    }
    else
    {
            <div class="text-center mt-5">
            <h1 class="display-4">Welcome to InsuApp</h1>
            <p>Your account details will be displayed after registration is complete.</p>
            </div>
    }
</body>