@{
    ViewData["Title"] = "Welcome Page";
}


<body>
    @if (User.IsInRole("admin"))
    {
        <div class="text-center mt-5 text-secondary">
           <h1 class="display-4 text-black">Vítej v InsuApp</h1>
           <p>Byl jsi přihlášen jako administrátor!</p>
        </div>
    }
    else
    {
        <div class="text-center mt-5 text-secondary">
           <h1 class="display-4 text-black">Vítej v InsuApp</h1>
           <p>Detail tvého účtu bude zobrazen po dokončení jeho registrace!</p>
        </div>
    }
</body>