@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<link rel="stylesheet" href="~/css/scrollsheet.css" runat="server" type="text/css" asp-append-version="true" />


<div class="collapse navbar-collapse justify-content-sm-end">
    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-link">
                <b id="manage" class="text-black fw-normal px-2" asp-area="Identity" asp-page="" title="Manage">Vítej @UserManager.GetUserName(User) !</b>
            </li>
    
            <li class="nav-item">
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="nav-link btn btn text-black border-0"><i class="fas fa-sign-out-alt"></i></button>
                </form>
            </li>
        }
        else
        {
            <!--<li class="nav-item">
                <a class="nav-link text-light-emphasis" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light-emphasis" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>-->
        }
    </ul>
</div>
