
.row::after {
    content: "";
    clear: both;
    display: table;
    
}

#wrapper {
    width: 700px;
    height: 230px;
    overflow: auto;
}

table {
    caption-side: bottom;
    border-collapse: collapse;
}

    table thead th {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background-color: #fff;
    }


    table tr td {
        border-bottom: 0.5px outset;
        height: 10px;
    }


    /* here is the trick */

    table tbody:nth-of-type(1) tr:nth-of-type(1) td {
        border-top: none !important;
    }

    table thead th {
        border-top: none !important;
        border-bottom: none !important;
        box-shadow: inset 0 0.5px 0 #000000, inset 0 -0.5px 0 #000000;
        padding: 2px 0;
    }


.badge {
    display: inline-block;
    padding: 0.25em 0.6em;
    font-size: 75%;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.75rem;
    color: #d81b60 !important;
    background-color: rgba(252,228,236,1.0);
}

.badge1 {
    display: inline-block;
    padding: 0.25em 0.6em;
    font-size: 75%;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.75rem;
    color: #d81b60 !important;
    background-color: rgb(252, 233, 240);
}

.badge2 {
    display: inline-block;
    padding: 0.25em 0.6em;
    font-size: 75%;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.75rem;
    color: #2e7a3d !important;
    background-color: rgba(241,248,233,1.0);
}

.form-select:focus {
    border-color: #fe6b60 !important;
    box-shadow: 0 0 0 0.2rem rgba(255,205,210,0.5);
}


.form-control:focus {
    border-color: #fe6b60 !important;
    box-shadow: 0 0 0 0.2rem rgba(255,205,210,0.5);
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
}

input:active[id="cb1"], input:focus[id="cb1"] {
    box-shadow: 0 0 0 0.2rem rgba(255,205,210,0.5) !important;
    border-color: #fe6b60 !important;
}

.form-check-input:checked {
    background-color: #fe6b60 !important;
    border-color: #fe6b60 !important;
    
}

i.fas.fa-sign-out-alt:hover {
    color: #d81b60 !important;
    transition: color 0.5s ease;
}

i.fas.fa-bars.fa-ml:hover{
    color: #211f1f;
    
}

a.nav-link:hover {
    color: #d81b60 !important;
    transition: color 0.5s ease;
}

.ul .li{
    list-style: none;
    float: left;
    margin: 10px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    font-size: 35px;
    z-index: 1;
    transform: rotate(45deg);
}

.ul .li:before{
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    transition: .5s ease-in-out;
    z-index: -2;
}

.ul .li:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    right: 0;
    background: #fff;
    transition: .5s ease-in-out;
    z-index: -3;
    opacity: .8;
}

.ul .li:hover:after{
    top: 0;
}

.ul .li .fa {
    color: #f2f1f1;
    transform: rotate(-45deg);
    text-shadow: 0 3px 0 rgba(0,0,0,.5);
}

.ul .li .fas {
    color: #f2f1f1;
    transform: rotate(-45deg);
    text-shadow: 0 3px 0 rgba(0,0,0,.5);
}

.ul .li:nth-child(1):before,
.ul .li:nth-child(1):after {
    background: #fe6b60;
}

.ul .li:nth-child(2):before,
.ul .li:nth-child(2):after {
    background: #fe6b60;
}

.ul .li:nth-child(3):before,
.ul .li:nth-child(3):after {
    background: #fe6b60;
}

.ul .li:nth-child(4):before,
.ul .li:nth-child(4):after {
    background: #fe6b60;
}


.login {
    min-height: 100vh;
}

.bg-image {
    background-image: url('../images/logPicMount.png');
    background-size: cover;
    background-position: center;
}


.bg-image1 {
    background-image: url('../images/regPicTree.png');
    background-size: cover;
    background-position: center;
}


.login-heading {
    font-weight: 300;
}

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.btn1:hover  {
    background-color: #d1584f !important;
}