html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-image: url('images/hearthblackandwhite.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    margin-bottom: 60px;
}


.my-buttons {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}


.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
}
